<%= form_for @story do |f| %>
  <% if @story.errors.any? %>
    <div class="error">
      <h2>
        <%= pluralize(@story.errors.count, 'error') %> 
        prohibited this post from being saved
      </h2>
      <ul>
        <% @story.errors.full_messages.each do |error| %>
          <li>
            <%= error %>       
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.submit 'Publish'%>
<% end %>